In [1]:
import numpy as np
import pandas as pd

# creado DF a partir de una lista de diccionarios

In [2]:
d1 = {'ciudad':'Valencia', 'temperatura':10, 'o2':1}
d2 = {'ciudad':'Barcelona', 'temperatura':8}
d3 = {'ciudad':'Valencia', 'temperatura':9}
d4 = {'ciudad':'Madrid', 'temperatura':10, 'humedad':80}
d5 = {'ciudad':'Sevilla', 'temperatura':15, 'humedad':50, 'co2':6}
d6 = {'ciudad':'Valencia', 'temperatura':10, 'humedad':90, 'co2':10}

In [3]:
lst = [d1,d2,d3,d4,d5,d6]

frame = pd.DataFrame(lst)
frame

      ciudad  temperatura   o2  humedad   co2
0   Valencia           10  1.0      NaN   NaN
1  Barcelona            8  NaN      NaN   NaN
2   Valencia            9  NaN      NaN   NaN
3     Madrid           10  NaN     80.0   NaN
4    Sevilla           15  NaN     50.0   6.0
5   Valencia           10  NaN     90.0  10.0

## Se le puede establecer un indice semantico, pero es opcional

In [4]:
frame = pd.DataFrame(lst, index= list('abcdef'))
display(frame)

      ciudad  temperatura   o2  humedad   co2
a   Valencia           10  1.0      NaN   NaN
b  Barcelona            8  NaN      NaN   NaN
c   Valencia            9  NaN      NaN   NaN
d     Madrid           10  NaN     80.0   NaN
e    Sevilla           15  NaN     50.0   6.0
f   Valencia           10  NaN     90.0  10.0