In [2]:
import pandas as pd 
import psycopg2
import openai
import config
from utils import enviar_promt_chat_completions_mode, BBDD_to_text_df, nlp_BBBD_text_df, nlp_to_BBBD_with_metadata_to_text_df

api = config.OPENAI_API_KEY
#  KEY ='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'
openai.api_key = api

## Prueba b√°sica de lectura SQL - openai API

In [2]:
tabla_texto = BBDD_to_text_df(
    table_name='actor', 
    bbdd_name='pagila',     
    user= 'postgres', 
    password='123')

print(tabla_texto)

|     |   actor_id | first_name   | last_name    | last_update                |
|----:|-----------:|:-------------|:-------------|:---------------------------|
|   0 |          1 | Penelope     | Guiness      | 2013-05-26 14:47:57.620000 |
|   1 |          2 | Nick         | Wahlberg     | 2013-05-26 14:47:57.620000 |
|   2 |          3 | Ed           | Chase        | 2013-05-26 14:47:57.620000 |
|   3 |          4 | Jennifer     | Davis        | 2013-05-26 14:47:57.620000 |
|   4 |          5 | Johnny       | Lollobrigida | 2013-05-26 14:47:57.620000 |
|   5 |          6 | Bette        | Nicholson    | 2013-05-26 14:47:57.620000 |
|   6 |          7 | Grace        | Mostel       | 2013-05-26 14:47:57.620000 |
|   7 |          8 | Matthew      | Johansson    | 2013-05-26 14:47:57.620000 |
|   8 |          9 | Joe          | Swank        | 2013-05-26 14:47:57.620000 |
|   9 |         10 | Christian    | Gable        | 2013-05-26 14:47:57.620000 |
|  10 |         11 | Zero         | Cage         | 2013-05-26 14:47:57.620000 |
|  11 |         12 | Karl         | Berry        | 2013-05-26 14:47:57.620000 |
|  12 |         13 | Uma          | Wood         | 2013-05-26 14:47:57.620000 |
|  13 |         14 | Vivien       | Bergen       | 2013-05-26 14:47:57.620000 |
|  14 |         15 | Cuba         | Olivier      | 2013-05-26 14:47:57.620000 |
|  15 |         16 | Fred         | Costner      | 2013-05-26 14:47:57.620000 |
|  16 |         17 | Helen        | Voight       | 2013-05-26 14:47:57.620000 |
|  17 |         18 | Dan          | Torn         | 2013-05-26 14:47:57.620000 |
|  18 |         19 | Bob          | Fawcett      | 2013-05-26 14:47:57.620000 |
|  19 |         20 | Lucille      | Tracy        | 2013-05-26 14:47:57.620000 |
|  20 |         21 | Kirsten      | Paltrow      | 2013-05-26 14:47:57.620000 |
|  21 |         22 | Elvis        | Marx         | 2013-05-26 14:47:57.620000 |
|  22 |         23 | Sandra       | Kilmer       | 2013-05-26 14:47:57.620000 |
|  23 |         24 | Cameron      | Streep       | 2013-05-26 14:47:57.620000 |
|  24 |         25 | Kevin        | Bloom        | 2013-05-26 14:47:57.620000 |
|  25 |         26 | Rip          | Crawford     | 2013-05-26 14:47:57.620000 |
|  26 |         27 | Julia        | Mcqueen      | 2013-05-26 14:47:57.620000 |
|  27 |         28 | Woody        | Hoffman      | 2013-05-26 14:47:57.620000 |
|  28 |         29 | Alec         | Wayne        | 2013-05-26 14:47:57.620000 |
|  29 |         30 | Sandra       | Peck         | 2013-05-26 14:47:57.620000 |
|  30 |         31 | Sissy        | Sobieski     | 2013-05-26 14:47:57.620000 |
|  31 |         32 | Tim          | Hackman      | 2013-05-26 14:47:57.620000 |
|  32 |         33 | Milla        | Peck         | 2013-05-26 14:47:57.620000 |
|  33 |         34 | Audrey       | Olivier      | 2013-05-26 14:47:57.620000 |
|  34 |         35 | Judy         | Dean         | 2013-05-26 14:47:57.620000 |
|  35 |         36 | Burt         | Dukakis      | 2013-05-26 14:47:57.620000 |
|  36 |         37 | Val          | Bolger       | 2013-05-26 14:47:57.620000 |
|  37 |         38 | Tom          | Mckellen     | 2013-05-26 14:47:57.620000 |
|  38 |         39 | Goldie       | Brody        | 2013-05-26 14:47:57.620000 |
|  39 |         40 | Johnny       | Cage         | 2013-05-26 14:47:57.620000 |
|  40 |         41 | Jodie        | Degeneres    | 2013-05-26 14:47:57.620000 |
|  41 |         42 | Tom          | Miranda      | 2013-05-26 14:47:57.620000 |
|  42 |         43 | Kirk         | Jovovich     | 2013-05-26 14:47:57.620000 |
|  43 |         44 | Nick         | Stallone     | 2013-05-26 14:47:57.620000 |
|  44 |         45 | Reese        | Kilmer       | 2013-05-26 14:47:57.620000 |
|  45 |         46 | Parker       | Goldberg     | 2013-05-26 14:47:57.620000 |
|  46 |         47 | Julia        | Barrymore    | 2013-05-26 14:47:57.620000 |
|  47 |         48 | Frances      | Day-Lewis    | 2013-05-26 14:47:57.620000 |
|  48 |         49 | Anne         | Cronyn       | 2013-05-26 14:47:57.620000 |
|  49 |         50 | Natalie      | Hopkins      | 2013-05-26 14:47:57.620000 |
|  50 |         51 | Gary         | Phoenix      | 2013-05-26 14:47:57.620000 |
|  51 |         52 | Carmen       | Hunt         | 2013-05-26 14:47:57.620000 |
|  52 |         53 | Mena         | Temple       | 2013-05-26 14:47:57.620000 |
|  53 |         54 | Penelope     | Pinkett      | 2013-05-26 14:47:57.620000 |
|  54 |         55 | Fay          | Kilmer       | 2013-05-26 14:47:57.620000 |
|  55 |         56 | Dan          | Harris       | 2013-05-26 14:47:57.620000 |
|  56 |         57 | Jude         | Cruise       | 2013-05-26 14:47:57.620000 |
|  57 |         58 | Christian    | Akroyd       | 2013-05-26 14:47:57.620000 |
|  58 |         59 | Dustin       | Tautou       | 2013-05-26 14:47:57.620000 |
|  59 |         60 | Henry        | Berry        | 2013-05-26 14:47:57.620000 |
|  60 |         61 | Christian    | Neeson       | 2013-05-26 14:47:57.620000 |
|  61 |         62 | Jayne        | Neeson       | 2013-05-26 14:47:57.620000 |
|  62 |         63 | Cameron      | Wray         | 2013-05-26 14:47:57.620000 |
|  63 |         64 | Ray          | Johansson    | 2013-05-26 14:47:57.620000 |
|  64 |         65 | Angela       | Hudson       | 2013-05-26 14:47:57.620000 |
|  65 |         66 | Mary         | Tandy        | 2013-05-26 14:47:57.620000 |
|  66 |         67 | Jessica      | Bailey       | 2013-05-26 14:47:57.620000 |
|  67 |         68 | Rip          | Winslet      | 2013-05-26 14:47:57.620000 |
|  68 |         69 | Kenneth      | Paltrow      | 2013-05-26 14:47:57.620000 |
|  69 |         70 | Michelle     | Mcconaughey  | 2013-05-26 14:47:57.620000 |
|  70 |         71 | Adam         | Grant        | 2013-05-26 14:47:57.620000 |
|  71 |         72 | Sean         | Williams     | 2013-05-26 14:47:57.620000 |
|  72 |         73 | Gary         | Penn         | 2013-05-26 14:47:57.620000 |
|  73 |         74 | Milla        | Keitel       | 2013-05-26 14:47:57.620000 |
|  74 |         75 | Burt         | Posey        | 2013-05-26 14:47:57.620000 |
|  75 |         76 | Angelina     | Astaire      | 2013-05-26 14:47:57.620000 |
|  76 |         77 | Cary         | Mcconaughey  | 2013-05-26 14:47:57.620000 |
|  77 |         78 | Groucho      | Sinatra      | 2013-05-26 14:47:57.620000 |
|  78 |         79 | Mae          | Hoffman      | 2013-05-26 14:47:57.620000 |
|  79 |         80 | Ralph        | Cruz         | 2013-05-26 14:47:57.620000 |
|  80 |         81 | Scarlett     | Damon        | 2013-05-26 14:47:57.620000 |
|  81 |         82 | Woody        | Jolie        | 2013-05-26 14:47:57.620000 |
|  82 |         83 | Ben          | Willis       | 2013-05-26 14:47:57.620000 |
|  83 |         84 | James        | Pitt         | 2013-05-26 14:47:57.620000 |
|  84 |         85 | Minnie       | Zellweger    | 2013-05-26 14:47:57.620000 |
|  85 |        143 | River        | Dean         | 2013-05-26 14:47:57.620000 |
|  86 |         86 | Greg         | Chaplin      | 2013-05-26 14:47:57.620000 |
|  87 |         87 | Spencer      | Peck         | 2013-05-26 14:47:57.620000 |
|  88 |         88 | Kenneth      | Pesci        | 2013-05-26 14:47:57.620000 |
|  89 |         89 | Charlize     | Dench        | 2013-05-26 14:47:57.620000 |
|  90 |         90 | Sean         | Guiness      | 2013-05-26 14:47:57.620000 |
|  91 |         91 | Christopher  | Berry        | 2013-05-26 14:47:57.620000 |
|  92 |         92 | Kirsten      | Akroyd       | 2013-05-26 14:47:57.620000 |
|  93 |         93 | Ellen        | Presley      | 2013-05-26 14:47:57.620000 |
|  94 |         94 | Kenneth      | Torn         | 2013-05-26 14:47:57.620000 |
|  95 |         95 | Daryl        | Wahlberg     | 2013-05-26 14:47:57.620000 |
|  96 |         96 | Gene         | Willis       | 2013-05-26 14:47:57.620000 |
|  97 |         97 | Meg          | Hawke        | 2013-05-26 14:47:57.620000 |
|  98 |         98 | Chris        | Bridges      | 2013-05-26 14:47:57.620000 |
|  99 |         99 | Jim          | Mostel       | 2013-05-26 14:47:57.620000 |
| 100 |        100 | Spencer      | Depp         | 2013-05-26 14:47:57.620000 |
| 101 |        101 | Susan        | Davis        | 2013-05-26 14:47:57.620000 |
| 102 |        102 | Walter       | Torn         | 2013-05-26 14:47:57.620000 |
| 103 |        103 | Matthew      | Leigh        | 2013-05-26 14:47:57.620000 |
| 104 |        104 | Penelope     | Cronyn       | 2013-05-26 14:47:57.620000 |
| 105 |        105 | Sidney       | Crowe        | 2013-05-26 14:47:57.620000 |
| 106 |        106 | Groucho      | Dunst        | 2013-05-26 14:47:57.620000 |
| 107 |        107 | Gina         | Degeneres    | 2013-05-26 14:47:57.620000 |
| 108 |        108 | Warren       | Nolte        | 2013-05-26 14:47:57.620000 |
| 109 |        109 | Sylvester    | Dern         | 2013-05-26 14:47:57.620000 |
| 110 |        110 | Susan        | Davis        | 2013-05-26 14:47:57.620000 |
| 111 |        111 | Cameron      | Zellweger    | 2013-05-26 14:47:57.620000 |
| 112 |        112 | Russell      | Bacall       | 2013-05-26 14:47:57.620000 |
| 113 |        113 | Morgan       | Hopkins      | 2013-05-26 14:47:57.620000 |
| 114 |        114 | Morgan       | Mcdormand    | 2013-05-26 14:47:57.620000 |
| 115 |        115 | Harrison     | Bale         | 2013-05-26 14:47:57.620000 |
| 116 |        116 | Dan          | Streep       | 2013-05-26 14:47:57.620000 |
| 117 |        117 | Renee        | Tracy        | 2013-05-26 14:47:57.620000 |
| 118 |        118 | Cuba         | Allen        | 2013-05-26 14:47:57.620000 |
| 119 |        119 | Warren       | Jackman      | 2013-05-26 14:47:57.620000 |
| 120 |        120 | Penelope     | Monroe       | 2013-05-26 14:47:57.620000 |
| 121 |        121 | Liza         | Bergman      | 2013-05-26 14:47:57.620000 |
| 122 |        122 | Salma        | Nolte        | 2013-05-26 14:47:57.620000 |
| 123 |        123 | Julianne     | Dench        | 2013-05-26 14:47:57.620000 |
| 124 |        124 | Scarlett     | Bening       | 2013-05-26 14:47:57.620000 |
| 125 |        125 | Albert       | Nolte        | 2013-05-26 14:47:57.620000 |
| 126 |        126 | Frances      | Tomei        | 2013-05-26 14:47:57.620000 |
| 127 |        127 | Kevin        | Garland      | 2013-05-26 14:47:57.620000 |
| 128 |        128 | Cate         | Mcqueen      | 2013-05-26 14:47:57.620000 |
| 129 |        129 | Daryl        | Crawford     | 2013-05-26 14:47:57.620000 |
| 130 |        130 | Greta        | Keitel       | 2013-05-26 14:47:57.620000 |
| 131 |        131 | Jane         | Jackman      | 2013-05-26 14:47:57.620000 |
| 132 |        132 | Adam         | Hopper       | 2013-05-26 14:47:57.620000 |
| 133 |        133 | Richard      | Penn         | 2013-05-26 14:47:57.620000 |
| 134 |        134 | Gene         | Hopkins      | 2013-05-26 14:47:57.620000 |
| 135 |        135 | Rita         | Reynolds     | 2013-05-26 14:47:57.620000 |
| 136 |        136 | Ed           | Mansfield    | 2013-05-26 14:47:57.620000 |
| 137 |        137 | Morgan       | Williams     | 2013-05-26 14:47:57.620000 |
| 138 |        138 | Lucille      | Dee          | 2013-05-26 14:47:57.620000 |
| 139 |        139 | Ewan         | Gooding      | 2013-05-26 14:47:57.620000 |
| 140 |        140 | Whoopi       | Hurt         | 2013-05-26 14:47:57.620000 |
| 141 |        141 | Cate         | Harris       | 2013-05-26 14:47:57.620000 |
| 142 |        142 | Jada         | Ryder        | 2013-05-26 14:47:57.620000 |
| 143 |        144 | Angela       | Witherspoon  | 2013-05-26 14:47:57.620000 |
| 144 |        145 | Kim          | Allen        | 2013-05-26 14:47:57.620000 |
| 145 |        146 | Albert       | Johansson    | 2013-05-26 14:47:57.620000 |
| 146 |        147 | Fay          | Winslet      | 2013-05-26 14:47:57.620000 |
| 147 |        148 | Emily        | Dee          | 2013-05-26 14:47:57.620000 |
| 148 |        149 | Russell      | Temple       | 2013-05-26 14:47:57.620000 |
| 149 |        150 | Jayne        | Nolte        | 2013-05-26 14:47:57.620000 |
| 150 |        151 | Geoffrey     | Heston       | 2013-05-26 14:47:57.620000 |
| 151 |        152 | Ben          | Harris       | 2013-05-26 14:47:57.620000 |
| 152 |        153 | Minnie       | Kilmer       | 2013-05-26 14:47:57.620000 |
| 153 |        154 | Meryl        | Gibson       | 2013-05-26 14:47:57.620000 |
| 154 |        155 | Ian          | Tandy        | 2013-05-26 14:47:57.620000 |
| 155 |        156 | Fay          | Wood         | 2013-05-26 14:47:57.620000 |
| 156 |        157 | Greta        | Malden       | 2013-05-26 14:47:57.620000 |
| 157 |        158 | Vivien       | Basinger     | 2013-05-26 14:47:57.620000 |
| 158 |        159 | Laura        | Brody        | 2013-05-26 14:47:57.620000 |
| 159 |        160 | Chris        | Depp         | 2013-05-26 14:47:57.620000 |
| 160 |        161 | Harvey       | Hope         | 2013-05-26 14:47:57.620000 |
| 161 |        162 | Oprah        | Kilmer       | 2013-05-26 14:47:57.620000 |
| 162 |        163 | Christopher  | West         | 2013-05-26 14:47:57.620000 |
| 163 |        164 | Humphrey     | Willis       | 2013-05-26 14:47:57.620000 |
| 164 |        165 | Al           | Garland      | 2013-05-26 14:47:57.620000 |
| 165 |        166 | Nick         | Degeneres    | 2013-05-26 14:47:57.620000 |
| 166 |        167 | Laurence     | Bullock      | 2013-05-26 14:47:57.620000 |
| 167 |        168 | Will         | Wilson       | 2013-05-26 14:47:57.620000 |
| 168 |        169 | Kenneth      | Hoffman      | 2013-05-26 14:47:57.620000 |
| 169 |        170 | Mena         | Hopper       | 2013-05-26 14:47:57.620000 |
| 170 |        171 | Olympia      | Pfeiffer     | 2013-05-26 14:47:57.620000 |
| 171 |        172 | Groucho      | Williams     | 2013-05-26 14:47:57.620000 |
| 172 |        173 | Alan         | Dreyfuss     | 2013-05-26 14:47:57.620000 |
| 173 |        174 | Michael      | Bening       | 2013-05-26 14:47:57.620000 |
| 174 |        175 | William      | Hackman      | 2013-05-26 14:47:57.620000 |
| 175 |        176 | Jon          | Chase        | 2013-05-26 14:47:57.620000 |
| 176 |        177 | Gene         | Mckellen     | 2013-05-26 14:47:57.620000 |
| 177 |        178 | Lisa         | Monroe       | 2013-05-26 14:47:57.620000 |
| 178 |        179 | Ed           | Guiness      | 2013-05-26 14:47:57.620000 |
| 179 |        180 | Jeff         | Silverstone  | 2013-05-26 14:47:57.620000 |
| 180 |        181 | Matthew      | Carrey       | 2013-05-26 14:47:57.620000 |
| 181 |        182 | Debbie       | Akroyd       | 2013-05-26 14:47:57.620000 |
| 182 |        183 | Russell      | Close        | 2013-05-26 14:47:57.620000 |
| 183 |        184 | Humphrey     | Garland      | 2013-05-26 14:47:57.620000 |
| 184 |        185 | Michael      | Bolger       | 2013-05-26 14:47:57.620000 |
| 185 |        186 | Julia        | Zellweger    | 2013-05-26 14:47:57.620000 |
| 186 |        187 | Renee        | Ball         | 2013-05-26 14:47:57.620000 |
| 187 |        188 | Rock         | Dukakis      | 2013-05-26 14:47:57.620000 |
| 188 |        189 | Cuba         | Birch        | 2013-05-26 14:47:57.620000 |
| 189 |        190 | Audrey       | Bailey       | 2013-05-26 14:47:57.620000 |
| 190 |        191 | Gregory      | Gooding      | 2013-05-26 14:47:57.620000 |
| 191 |        192 | John         | Suvari       | 2013-05-26 14:47:57.620000 |
| 192 |        193 | Burt         | Temple       | 2013-05-26 14:47:57.620000 |
| 193 |        194 | Meryl        | Allen        | 2013-05-26 14:47:57.620000 |
| 194 |        195 | Jayne        | Silverstone  | 2013-05-26 14:47:57.620000 |
| 195 |        196 | Bela         | Walken       | 2013-05-26 14:47:57.620000 |
| 196 |        197 | Reese        | West         | 2013-05-26 14:47:57.620000 |
| 197 |        198 | Mary         | Keitel       | 2013-05-26 14:47:57.620000 |
| 198 |        199 | Julia        | Fawcett      | 2013-05-26 14:47:57.620000 |
| 199 |        200 | Thora        | Temple       | 2013-05-26 14:47:57.620000 |

In [3]:
mi_consulta = 'dame nombre y apellido de los actores cuyos nombres empiezen por una vocal'

mi_prompt = [
    {'role': 'system', 'content': 'Eres un asistente experto en estadistica y an√°lisis de datos, que responde de manera concisa'}, 
                                
    {'role': 'user', 'content': f'en la siguiente tabla:\n {tabla_texto} \n mi consulta: \n{mi_consulta}'},

#   {'role': 'assistant', 'content': 'esto se usa para decirle a chat gpt COMO debe responder'}
]

In [4]:
respuesta_ = enviar_promt_chat_completions_mode(
    mensaje=mi_prompt, 
    probabilidad_acumulada=1, 
    aleatoriedad=0)

In [5]:
print(respuesta_)

| first_name | last_name    |
|------------|--------------|
| Ed         | Chase        |
| Ed         | Guiness      |
| Ellen      | Presley      |
| Ewan       | Gooding      |
| Albert     | Johansson    |
| Alec       | Wayne        |
| Angela     | Hudson       |
| Angela     | Witherspoon  |
| Audrey     | Bailey       |
| Audrey     | Olivier      |
| Adam       | Grant        |
| Adam       | Hopper       |
| Al         | Garland      |
| Albert     | Nolte        |
| Alec       | Wayne        |
| Angela     | Hudson       |
| Angela     | Witherspoon  |
| Audrey     | Bailey       |
| Audrey     | Olivier      |
| Ian        | Tandy        |
| Oprah      | Kilmer       |
| Uma        | Wood         |
| Ellen      | Presley      |
| Ewan       | Gooding      |
| Ed         | Mansfield    |
| Emily      | Dee          |
| Emma       | Pfeiffer     |
| Al         | Garland      |
| Alan       | Dreyfuss     |
| Albert     | Nolte        |
| Alec       | Wayne        |
| Angela     | Hudson       |
| Angela     | Witherspoon  |
| Audrey     | Bailey       |
| Audrey     | Olivier      |
| Ian        | Tandy        |
| Oprah      | Kilmer       |
| Uma        | Wood         |

## Formateando el prompt a SQL

In [6]:
consulta_nlp = input("Escribe tu consulta sql en lenguaje natural: \n") # dejo que el usuario meta la consulta

In [7]:

mi_prompt = [
    {'role': 'system',    'content':'Eres un asistente experto en bases de datos, que convierte peticiones de lenguaje natural a c√≥digo SQL.\
                                     DEVUELVES √öNICAMENTE EL C√ìDIGO SQL'},               
    {'role': 'user',      'content':f'{consulta_nlp}'},
    {'role': 'assistant', 'content': 'Devu√©lveme la respuesta en este formato: \n```sql\nEL CODIGO SQL;\n```'}
]

respuesta_ = enviar_promt_chat_completions_mode(
    mensaje=mi_prompt, 
    probabilidad_acumulada=1, 
    aleatoriedad=0)

In [8]:
print('La consulta del usuario a sido la siguente: \n',consulta_nlp, '\n')
print('La respuesta RAW del modelo de openai a sido: \n',respuesta_, '\n')
print('El codigo extraido a sido: ')
print(respuesta_[7:-4])               # extraigo solo la parte del codigo de la respuesta

La consulta del usuario a sido la siguente:
 DAME LOS NOMBRES DE LAS PELICULAS CON UNA DURACI√ìN MAYOR DE 100 MINUTOS

La respuesta RAW del modelo de openai a sido:
 ```sql
SELECT nombre FROM peliculas WHERE duracion > 100;
```

El codigo extraido a sido:
SELECT nombre FROM peliculas WHERE duracion > 100;

In [9]:
tabla_texto_02 = nlp_BBBD_text_df(
    consulta_nlp=consulta_nlp, 
    bbdd_name='pagila',     
    user= 'postgres', 
    password='123')

print(tabla_texto_02)

La consulta dio el siguiente error:
(psycopg2.errors.UndefinedTable) relation "peliculas" does not exist
LINE 2: FROM peliculas
             ^

[SQL: SELECT nombre
FROM peliculas
WHERE duracion > 100;]
(Background on this error at: https://sqlalche.me/e/20/f405)

UnboundLocalError: local variable 'df_text' referenced before assignment

## De nlp a SQL incluyendo los metadatos

In [10]:
consulta_nlp = input("Escribe tu consulta sql en lenguaje natural: \n") # dejo que el usuario meta la consulta
print(consulta_nlp)

cual es la pelicula con m√°s actores o actrices

In [11]:
tabla_texto_03 = nlp_to_BBBD_with_metadata_to_text_df(
    consulta_nlp=consulta_nlp, 
    bbdd_name='pagila',     
    user= 'postgres', 
    password='123')

print(tabla_texto_03)

SELECT f.title, COUNT(fa.actor_id) AS actor_count
FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
GROUP BY f.title
ORDER BY actor_count DESC
LIMIT 1;
|    | title            |   actor_count |
|---:|:-----------------|--------------:|
|  0 | Lambs Cincinatti |            15 |

In [ ]:
# mi_prompt = [
#     {'role': 'system',    'content':'Eres un asistente experto en bases de datos, que convierte peticiones de lenguaje natural a c√≥digo SQL.\
#                                      DEVUELVES √öNICAMENTE EL C√ìDIGO SQL'},               
#     {'role': 'user',      'content':f'{consulta_nlp}'},
#     {'role': 'assistant', 'content':'DAME SOLO EL C√ìDIGO SQL SIN NADA M√ÅS'}
# ]

# respuesta_ = enviar_promt_chat_completions_mode(
#     mensaje=mi_prompt, 
#     probabilidad_acumulada=1, 
#     aleatoriedad=0)

In [ ]:
# print('La consulta del usuario a sido la siguente: \n',consulta_nlp, '\n')
# print('La respuesta RAW del modelo de openai a sido: \n',respuesta_, '\n')
# print('El codigo extraido a sido: ')
# print(respuesta_[7:-4])

In [12]:
consulta_nlp_nueva = input("Escribe tu consulta sql en lenguaje natural: \n") # dejo que el usuario meta la consulta
print(consulta_nlp_nueva)

Dame los actores que hayan participado en pel√≠culas con una duraci√≥n superior a 180 minutos y devuelve el t√≠tulo de la pel√≠cula y su duraci√≥n exacta

In [13]:
tabla_texto_03 = nlp_to_BBBD_with_metadata_to_text_df(
    consulta_nlp=consulta_nlp_nueva, 
    bbdd_name='pagila', 
    user= 'postgres', 
    password='123')

print(tabla_texto_03)

SELECT a.first_name, a.last_name, f.title, f.length
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id
WHERE f.length > 180;
|     | first_name   | last_name    | title              |   length |
|----:|:-------------|:-------------|:-------------------|---------:|
|   0 | Penelope     | Guiness      | King Evolution     |      184 |
|   1 | Ed           | Chase        | Young Language     |      183 |
|   2 | Jennifer     | Davis        | Reds Pocus         |      182 |
|   3 | Johnny       | Lollobrigida | Frontier Cabin     |      183 |
|   4 | Johnny       | Lollobrigida | Love Suicides      |      181 |
|   5 | Johnny       | Lollobrigida | Soldiers Evolution |      185 |
|   6 | Johnny       | Lollobrigida | Star Operation     |      181 |
|   7 | Joe          | Swank        | Lawless Vision     |      181 |
|   8 | Joe          | Swank        | Wild Apollo        |      181 |
|   9 | Zero         | Cage         | Moonwalker Fool    |      184 |
|  10 | Uma          | Wood         | Moonwalker Fool    |      184 |
|  11 | Uma          | Wood         | Soldiers Evolution |      185 |
|  12 | Cuba         | Olivier      | Soldiers Evolution |      185 |
|  13 | Cuba         | Olivier      | Theory Mermaid     |      184 |
|  14 | Fred         | Costner      | Theory Mermaid     |      184 |
|  15 | Bob          | Fawcett      | Control Anthem     |      185 |
|  16 | Bob          | Fawcett      | Darn Forrester     |      185 |
|  17 | Bob          | Fawcett      | Jacket Frisco      |      181 |
|  18 | Bob          | Fawcett      | Lawless Vision     |      181 |
|  19 | Lucille      | Tracy        | King Evolution     |      184 |
|  20 | Kirsten      | Paltrow      | Home Pity          |      185 |
|  21 | Elvis        | Marx         | Gangs Pride        |      185 |
|  22 | Sandra       | Kilmer       | Darn Forrester     |      185 |
|  23 | Sandra       | Kilmer       | Hotel Happiness    |      181 |
|  24 | Sandra       | Kilmer       | Sons Interview     |      184 |
|  25 | Rip          | Crawford     | Frontier Cabin     |      183 |
|  26 | Rip          | Crawford     | Sorority Queen     |      184 |
|  27 | Julia        | Mcqueen      | Young Language     |      183 |
|  28 | Woody        | Hoffman      | Moonwalker Fool    |      184 |
|  29 | Woody        | Hoffman      | Wife Turn          |      183 |
|  30 | Milla        | Peck         | Jacket Frisco      |      181 |
|  31 | Audrey       | Olivier      | Control Anthem     |      185 |
|  32 | Judy         | Dean         | Soldiers Evolution |      185 |
|  33 | Burt         | Dukakis      | Home Pity          |      185 |
|  34 | Burt         | Dukakis      | King Evolution     |      184 |
|  35 | Val          | Bolger       | Intrigue Worst     |      181 |
|  36 | Tom          | Mckellen     | Analyze Hoosiers   |      181 |
|  37 | Johnny       | Cage         | Catch Amistad      |      183 |
|  38 | Jodie        | Degeneres    | Darn Forrester     |      185 |
|  39 | Jodie        | Degeneres    | Reds Pocus         |      182 |
|  40 | Tom          | Miranda      | Analyze Hoosiers   |      181 |
|  41 | Tom          | Miranda      | Love Suicides      |      181 |
|  42 | Kirk         | Jovovich     | Conspiracy Spirit  |      184 |
|  43 | Nick         | Stallone     | Monsoon Cause      |      182 |
|  44 | Nick         | Stallone     | Runaway Tenenbaums |      181 |
|  45 | Reese        | Kilmer       | Crystal Breaking   |      184 |
|  46 | Reese        | Kilmer       | Intrigue Worst     |      181 |
|  47 | Reese        | Kilmer       | Scalawag Duck      |      183 |
|  48 | Parker       | Goldberg     | Sons Interview     |      184 |
|  49 | Parker       | Goldberg     | Worst Banger       |      185 |
|  50 | Julia        | Barrymore    | Wife Turn          |      183 |
|  51 | Frances      | Day-Lewis    | Gangs Pride        |      185 |
|  52 | Natalie      | Hopkins      | Monsoon Cause      |      182 |
|  53 | Gary         | Phoenix      | Wild Apollo        |      181 |
|  54 | Penelope     | Pinkett      | Lawless Vision     |      181 |
|  55 | Fay          | Kilmer       | Frontier Cabin     |      183 |
|  56 | Jude         | Cruise       | Frontier Cabin     |      183 |
|  57 | Jude         | Cruise       | Scalawag Duck      |      183 |
|  58 | Christian    | Akroyd       | Catch Amistad      |      183 |
|  59 | Christian    | Akroyd       | Home Pity          |      185 |
|  60 | Christian    | Neeson       | Love Suicides      |      181 |
|  61 | Christian    | Neeson       | Scalawag Duck      |      183 |
|  62 | Jayne        | Neeson       | Crystal Breaking   |      184 |
|  63 | Jayne        | Neeson       | Haunting Pianist   |      181 |
|  64 | Jayne        | Neeson       | Records Zorro      |      182 |
|  65 | Ray          | Johansson    | Moonwalker Fool    |      184 |
|  66 | Jessica      | Bailey       | Analyze Hoosiers   |      181 |
|  67 | Rip          | Winslet      | Hotel Happiness    |      181 |
|  68 | Michelle     | Mcconaughey  | Baked Cleopatra    |      182 |
|  69 | Sean         | Williams     | Muscle Bright      |      185 |
|  70 | Gary         | Penn         | Intrigue Worst     |      181 |
|  71 | Milla        | Keitel       | Sweet Brotherhood  |      185 |
|  72 | Angelina     | Astaire      | Saturn Name        |      182 |
|  73 | Groucho      | Sinatra      | Scalawag Duck      |      183 |
|  74 | Mae          | Hoffman      | Chicago North      |      185 |
|  75 | Mae          | Hoffman      | Jacket Frisco      |      181 |
|  76 | Ralph        | Cruz         | Darn Forrester     |      185 |
|  77 | Ben          | Willis       | Frontier Cabin     |      183 |
|  78 | Ben          | Willis       | Records Zorro      |      182 |
|  79 | James        | Pitt         | Young Language     |      183 |
|  80 | Minnie       | Zellweger    | Monsoon Cause      |      182 |
|  81 | Spencer      | Peck         | Reds Pocus         |      182 |
|  82 | Kenneth      | Pesci        | Catch Amistad      |      183 |
|  83 | Charlize     | Dench        | Control Anthem     |      185 |
|  84 | Charlize     | Dench        | Darn Forrester     |      185 |
|  85 | Charlize     | Dench        | Haunting Pianist   |      181 |
|  86 | Charlize     | Dench        | Jacket Frisco      |      181 |
|  87 | Sean         | Guiness      | Darn Forrester     |      185 |
|  88 | Sean         | Guiness      | Haunting Pianist   |      181 |
|  89 | Sean         | Guiness      | Soldiers Evolution |      185 |
|  90 | Kirsten      | Akroyd       | Worst Banger       |      185 |
|  91 | Ellen        | Presley      | Jacket Frisco      |      181 |
|  92 | Kenneth      | Torn         | Jacket Frisco      |      181 |
|  93 | Daryl        | Wahlberg     | Pond Seattle       |      185 |
|  94 | Daryl        | Wahlberg     | Smoochy Control    |      184 |
|  95 | Chris        | Bridges      | Darn Forrester     |      185 |
|  96 | Chris        | Bridges      | Reds Pocus         |      182 |
|  97 | Chris        | Bridges      | Saturn Name        |      182 |
|  98 | Spencer      | Depp         | Sweet Brotherhood  |      185 |
|  99 | Spencer      | Depp         | Worst Banger       |      185 |
| 100 | Susan        | Davis        | Searchers Wait     |      182 |
| 101 | Susan        | Davis        | Star Operation     |      181 |
| 102 | Matthew      | Leigh        | Muscle Bright      |      185 |
| 103 | Penelope     | Cronyn       | Crystal Breaking   |      184 |
| 104 | Gina         | Degeneres    | Intrigue Worst     |      181 |
| 105 | Gina         | Degeneres    | Searchers Wait     |      182 |
| 106 | Gina         | Degeneres    | Wife Turn          |      183 |
| 107 | Warren       | Nolte        | Reds Pocus         |      182 |
| 108 | Susan        | Davis        | Hotel Happiness    |      181 |
| 109 | Cameron      | Zellweger    | Wife Turn          |      183 |
| 110 | Russell      | Bacall       | Soldiers Evolution |      185 |
| 111 | Morgan       | Hopkins      | Records Zorro      |      182 |
| 112 | Morgan       | Mcdormand    | Star Operation     |      181 |
| 113 | Dan          | Streep       | Catch Amistad      |      183 |
| 114 | Cuba         | Allen        | Chicago North      |      185 |
| 115 | Cuba         | Allen        | King Evolution     |      184 |
| 116 | Warren       | Jackman      | Runaway Tenenbaums |      181 |
| 117 | Liza         | Bergman      | Chicago North      |      185 |
| 118 | Liza         | Bergman      | Crystal Breaking   |      184 |
| 119 | Kevin        | Garland      | Chicago North      |      185 |
| 120 | Cate         | Mcqueen      | Darn Forrester     |      185 |
| 121 | Cate         | Mcqueen      | Searchers Wait     |      182 |
| 122 | Daryl        | Crawford     | Moonwalker Fool    |      184 |
| 123 | Gene         | Hopkins      | Pond Seattle       |      185 |
| 124 | Rita         | Reynolds     | Records Zorro      |      182 |
| 125 | Morgan       | Williams     | Star Operation     |      181 |
| 126 | Ewan         | Gooding      | Records Zorro      |      182 |
| 127 | Whoopi       | Hurt         | Sons Interview     |      184 |
| 128 | Cate         | Harris       | Intrigue Worst     |      181 |
| 129 | Cate         | Harris       | Sorority Queen     |      184 |
| 130 | River        | Dean         | Chicago North      |      185 |
| 131 | River        | Dean         | Pond Seattle       |      185 |
| 132 | River        | Dean         | Sorority Queen     |      184 |
| 133 | River        | Dean         | Sweet Brotherhood  |      185 |
| 134 | Angela       | Witherspoon  | Jacket Frisco      |      181 |
| 135 | Albert       | Johansson    | Monsoon Cause      |      182 |
| 136 | Ben          | Harris       | Sorority Queen     |      184 |
| 137 | Minnie       | Kilmer       | Conspiracy Spirit  |      184 |
| 138 | Minnie       | Kilmer       | Soldiers Evolution |      185 |
| 139 | Meryl        | Gibson       | Chicago North      |      185 |
| 140 | Meryl        | Gibson       | Intrigue Worst     |      181 |
| 141 | Ian          | Tandy        | Catch Amistad      |      183 |
| 142 | Fay          | Wood         | Crystal Breaking   |      184 |
| 143 | Fay          | Wood         | Gangs Pride        |      185 |
| 144 | Fay          | Wood         | Intrigue Worst     |      181 |
| 145 | Greta        | Malden       | Analyze Hoosiers   |      181 |
| 146 | Greta        | Malden       | Haunting Pianist   |      181 |
| 147 | Greta        | Malden       | Love Suicides      |      181 |
| 148 | Greta        | Malden       | Wife Turn          |      183 |
| 149 | Vivien       | Basinger     | Jacket Frisco      |      181 |
| 150 | Chris        | Depp         | Scalawag Duck      |      183 |
| 151 | Harvey       | Hope         | Frontier Cabin     |      183 |
| 152 | Christopher  | West         | Conspiracy Spirit  |      184 |
| 153 | Christopher  | West         | Records Zorro      |      182 |
| 154 | Christopher  | West         | Young Language     |      183 |
| 155 | Humphrey     | Willis       | Sons Interview     |      184 |
| 156 | Al           | Garland      | Jacket Frisco      |      181 |
| 157 | Nick         | Degeneres    | Home Pity          |      185 |
| 158 | Will         | Wilson       | Star Operation     |      181 |
| 159 | Will         | Wilson       | Theory Mermaid     |      184 |
| 160 | Kenneth      | Hoffman      | Gangs Pride        |      185 |
| 161 | Mena         | Hopper       | Conspiracy Spirit  |      184 |
| 162 | Mena         | Hopper       | Darn Forrester     |      185 |
| 163 | Mena         | Hopper       | Theory Mermaid     |      184 |
| 164 | Mena         | Hopper       | Young Language     |      183 |
| 165 | Olympia      | Pfeiffer     | Sweet Brotherhood  |      185 |
| 166 | Groucho      | Williams     | Muscle Bright      |      185 |
| 167 | William      | Hackman      | Monsoon Cause      |      182 |
| 168 | William      | Hackman      | Records Zorro      |      182 |
| 169 | Jon          | Chase        | Sweet Brotherhood  |      185 |
| 170 | Gene         | Mckellen     | Runaway Tenenbaums |      181 |
| 171 | Lisa         | Monroe       | Wild Apollo        |      181 |
| 172 | Ed           | Guiness      | Analyze Hoosiers   |      181 |
| 173 | Ed           | Guiness      | Soldiers Evolution |      185 |
| 174 | Jeff         | Silverstone  | Muscle Bright      |      185 |
| 175 | Jeff         | Silverstone  | Sons Interview     |      184 |
| 176 | Matthew      | Carrey       | Muscle Bright      |      185 |
| 177 | Matthew      | Carrey       | Worst Banger       |      185 |
| 178 | Humphrey     | Garland      | Moonwalker Fool    |      184 |
| 179 | Michael      | Bolger       | Lawless Vision     |      181 |
| 180 | Michael      | Bolger       | Wife Turn          |      183 |
| 181 | Renee        | Ball         | Hotel Happiness    |      181 |
| 182 | Renee        | Ball         | King Evolution     |      184 |
| 183 | Rock         | Dukakis      | Searchers Wait     |      182 |
| 184 | Cuba         | Birch        | Sons Interview     |      184 |
| 185 | Audrey       | Bailey       | Home Pity          |      185 |
| 186 | John         | Suvari       | Home Pity          |      185 |
| 187 | Burt         | Temple       | Chicago North      |      185 |
| 188 | Meryl        | Allen        | Records Zorro      |      182 |
| 189 | Meryl        | Allen        | Sweet Brotherhood  |      185 |
| 190 | Jayne        | Silverstone  | Chicago North      |      185 |
| 191 | Jayne        | Silverstone  | Smoochy Control    |      184 |
| 192 | Bela         | Walken       | Jacket Frisco      |      181 |
| 193 | Reese        | West         | Wild Apollo        |      181 |
| 194 | Mary         | Keitel       | Haunting Pianist   |      181 |
| 195 | Mary         | Keitel       | King Evolution     |      184 |
| 196 | Mary         | Keitel       | Moonwalker Fool    |      184 |
| 197 | Mary         | Keitel       | Soldiers Evolution |      185 |
| 198 | Mary         | Keitel       | Theory Mermaid     |      184 |
| 199 | Julia        | Fawcett      | Theory Mermaid     |      184 |

## Probando el metadata pipeline

In [3]:
import pandas as pd 
import psycopg2
import openai
import config
from utils import store_metadata_df_to_pickle, cosine_similarity, get_embedding, close_conection, conect_to_bbdd, metadata_pipeline

api = config.OPENAI_API_KEY
#  KEY ='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'
openai.api_key = api

In [4]:
# bbdd_name= 'pagila'
# path= 'data/'
# formato = '.pickle'

# store_metadata_df_to_pickle(bbdd_name=bbdd_name, user= 'postgres', password='123')
# pagila_md = pd.read_pickle(path+bbdd_name+formato)

In [5]:
import os
path = 'data/'
name = 'pagila_metadata.pickle'

if not os.path.exists(path + name):

    engine = conect_to_bbdd(bbdd_name='pagila', user= 'postgres', password='123')
    metadata_df = metadata_pipeline(engine)
    close_conection(engine)
    # display(metadata_df)
    # print(metadata_df.info)
    metadata_df.to_pickle(path + name)

else: 
    print(f'el archivo ya existe en: {path}, con el nombre: {name}')

In [6]:
readed_metadata_df = pd.read_pickle(path+name)

display(readed_metadata_df)

,metadata_str,embedding
film,"{""nombre"": ""fulltext"", ""tipo"": ""TSVECTOR"", ""nu...","[-0.017573976889252663, 0.030060390010476112, ..."
language,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
actor,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
store,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
address,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
city,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
country,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
staff,"{""nombre"": ""picture"", ""tipo"": ""BYTEA"", ""nulo"":...","[-0.01692023314535618, 0.014107021503150463, -..."
category,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
customer,"{""nombre"": ""active"", ""tipo"": ""INTEGER"", ""nulo""...","[-0.015657922253012657, 0.012232751585543156, ..."
film_actor,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
film_category,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
inventory,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
rental,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...","[-0.035863690078258514, 0.010651245713233948, ..."
payment,"{""nombre"": ""payment_date"", ""tipo"": ""TIMESTAMP""...","[-0.027867214754223824, 0.006892974488437176, ..."

In [7]:
def buscar_metadata_mas_similar(prompt, metadata, n_resulatdos= 5): 
    prompt_embedding = get_embedding(prompt)                                                       # se extrae el embedding de la pregunta del usuario
    metadata['similarity']= metadata['embedding'].apply(lambda x: cosine_similarity(x, prompt_embedding))   # se saca la similitud de la pregunta con las posibles respuestas
    metadata = metadata.sort_values('similarity', ascending= False)                                             # los ordena de mayor similitud a menor
    return metadata[['metadata_str', 'similarity', 'embedding']]   # devuelve estas columnas y los primeros n resultados, este formato .iloc[:n_resulatdos][['texto', 'similitud', 'Embedding']]

In [8]:
mi_prompt = 'cuales son los actores que han paraticipado en peliculas de una duracion superior a 180 minutos'

mi_busqueda = buscar_metadata_mas_similar(mi_prompt, metadata_df)

In [9]:
mi_busqueda

,metadata_str,similarity,embedding
customer,"{""nombre"": ""active"", ""tipo"": ""INTEGER"", ""nulo""...",0.712664,"[-0.015657922253012657, 0.012232751585543156, ..."
film,"{""nombre"": ""fulltext"", ""tipo"": ""TSVECTOR"", ""nu...",0.707623,"[-0.017573976889252663, 0.030060390010476112, ..."
staff,"{""nombre"": ""picture"", ""tipo"": ""BYTEA"", ""nulo"":...",0.707192,"[-0.01692023314535618, 0.014107021503150463, -..."
payment,"{""nombre"": ""payment_date"", ""tipo"": ""TIMESTAMP""...",0.706642,"[-0.027867214754223824, 0.006892974488437176, ..."
language,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
actor,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
store,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
address,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
city,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
country,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
category,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
film_actor,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
film_category,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
inventory,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."
rental,"{""nombre"": ""last_update"", ""tipo"": ""TIMESTAMP"",...",0.704705,"[-0.035863690078258514, 0.010651245713233948, ..."

In [16]:
metadatos_mas_similares = mi_busqueda.reset_index().loc[:5,['metadata_str']].values
metadatos_mas_similares

array([['{"nombre": "active", "tipo": "INTEGER", "nulo": true, "clave_primaria": false, "clave_foranea": false}'],
       ['{"nombre": "fulltext", "tipo": "TSVECTOR", "nulo": false, "clave_primaria": false, "clave_foranea": false}'],
       ['{"nombre": "picture", "tipo": "BYTEA", "nulo": true, "clave_primaria": false, "clave_foranea": false}'],
       ['{"nombre": "payment_date", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}'],
       ['{"nombre": "last_update", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}'],
       ['{"nombre": "last_update", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}']],
      dtype=object)

In [26]:
# import json

# json.dumps(metadatos_mas_similares[0])

metadatos_str = '\n'.join([metadatos_mas_similares[n][0] for n in range(len(metadatos_mas_similares))])

In [25]:
len(metadatos_mas_similares)

6

In [27]:
print(metadatos_str)

{"nombre": "active", "tipo": "INTEGER", "nulo": true, "clave_primaria": false, "clave_foranea": false}
{"nombre": "fulltext", "tipo": "TSVECTOR", "nulo": false, "clave_primaria": false, "clave_foranea": false}
{"nombre": "picture", "tipo": "BYTEA", "nulo": true, "clave_primaria": false, "clave_foranea": false}
{"nombre": "payment_date", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}
{"nombre": "last_update", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}
{"nombre": "last_update", "tipo": "TIMESTAMP", "nulo": false, "clave_primaria": false, "clave_foranea": false}