In [2]:
import numpy as np
import pandas as pd

# Apply en pandas 

dataframe.apply(funcion)

- la función puede ser definida por el usuario
- puede ser una funcion lambda
- axis = 0 es para que calcule algo según las columnas por que el apply recorre el df a través de las filas
- axis = 1 es para que calcule algo según las filas por que el apply recorre el df a través de las columnas

In [3]:
np.random.seed(17)
rand_matrix = np.random.randint(20, size =(10,2))

df = pd.DataFrame(rand_matrix, columns= list('AB'))

display(df)

    A   B
0  15  17
1  15   6
2  16  13
3   4   7
4  12   7
5   1  14
6  17   9
7  10   2
8   3   6
9   6   9

## calculo por columnas, es decir, através de las filas (axis = 0)
### con lambda

In [4]:
print(df.apply(lambda x: x.max() - x.min())) # si no ponemos por defecto axis = 0

A    16
B    15
dtype: int32

In [5]:
print(df.max(axis=0)-df.min(axis= 0))

A    16
B    15
dtype: int32

In [7]:
print(df.apply(lambda x: x.max() - x.min(), axis= 1))

0     2
1     9
2     3
3     3
4     5
5    13
6     8
7     8
8     3
9     3
dtype: int32

### sin lambda

In [15]:
def dif_max_min(serie):
    return serie.max()-serie.min()

In [16]:
print(df.apply(lambda x:dif_max_min(x))) # tecnicamente si usa el lambda

A    16
B    15
dtype: int32

In [18]:
print(df.apply(dif_max_min)) # funciona sin el lambda tambien

A    16
B    15
dtype: int32

## calculo por filas, es decir, a través de las columnas (axis = 1)

In [9]:
rand_matrix = np.random.randint(10, size = (3,4))
frame = pd.DataFrame(rand_matrix)
display(frame)

   0  1  2  3
0  9  1  5  1
1  0  5  6  6
2  2  6  9  8

### con lambda

In [10]:
print(frame.apply(lambda x: x.max()- x.min(), axis = 1))

0    8
1    6
2    7
dtype: int32

In [12]:
print(frame.max(axis=1)-frame.min(axis= 1))

0    8
1    6
2    7
dtype: int32

### sin lambda

In [20]:
print(frame.apply(dif_max_min, axis= 1))

0    8
1    6
2    7
dtype: int32